{% extends "base.html" %}

{% block description %}
    Fabiano Martins blog
{% endblock description %}

{% block content %}
<div class="post-list">
{% for post in section.pages | sort(attribute="date") | reverse %}
    {% if lang == "pt-br" %}
    {% set current_month_year = post.date | date(format="%Y - %B", locale="pt_BR") %}
    {% else %}
    {% set current_month_year = post.date | date(format="%Y - %B", locale="en_US") %}
    {% endif %}

    {% if loop.first or current_month_year != last_month_year %}
        <h2>{{ current_month_year }}</h2>
        {% set_global last_month_year = current_month_year %}
    {% endif %}

    <ul>
        <li>
            <a href="{{ post.permalink }}">
                {{ post.title }}
            </a>
        </li>
    </ul>
{% endfor %}
</div>

{% endblock content %}
